body{
    margin:0;
    padding:0;
    background:#262626;
}
.box{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:80px;
   height:80px;
   background:#262626;
}
.box span
{   position:absolute;
    display:block;
    width:20px;
    height:20px;
    background-color:#ff0;
    
}
.box span:nth-child(1){
    background-color:#fff900;
    box-shadow:0 0 25px #fff900;
    animation:animate 2s linear infinite;
    animation-delay:-1s;
}
.box span:nth-child(2){
    background-color:#08ff28;
    box-shadow:0 0 25px #08ff28;
    animation:animate 2s linear infinite;
    animation-delay:-0.5s;
}
.box span:nth-child(3){
    background-color:#ff005a;
    box-shadow:0 0 25px #ff005a;
    animation:animate 2s linear infinite;
    animation-delay:-1.5s;
}
.box span:last-child{
    background-color:#3896ff;
    box-shadow:0 0 25px #3896ff;
    animation:animate 2s linear infinite;

}
@keyframes animate{
    0%{
        top:0;
        left:0;
    }
    5%{
        top:0;
        left:0;
    }
    20%{
        top:0;
        left:50%;
    }
    25%{
        top:0;
        left:50%;
    }
    50%{
        top:50%;
        left:50%;
        border-radius:50%;
    }
    55%{
        top:50%;
        left:50%;
    }
    75%{
        top:50%;
        left:0;
    }
    80%{
        top:50%;
        left:0;
    }
    100%{
        top:0;
        left:0;
    }
}
